header {
    background-color: rgb(83, 81, 81); 
}

 header nav {    
     display: flex;     width: 100%;
} 

 header nav ul {     
     width: 50%;     
     float: right;     
     padding-top: 45px;     
     margin-left: 70px; 

} 
 header nav ul li {          
     display: inline;          
     padding: 40px;     
     margin-left: 5px;     
     margin-right: 0px;     
     color: white;     
     /* font-size: 20px;  */
    }
 
 header nav div{     
     float: left;     
     margin: 10px 0px 10px 280px;  }

main section:nth-child(1)
 {
    text-align: center;
    margin: 20px;
 }
main section:nth-child(2){
    text-align: center;
    margin-left: 195px;
    padding-bottom: 30px;
    float: left;

    

}
main section:nth-child(3){
    text-align: center;
    margin-right: 190px;
    padding-bottom: 30px;
    float: right;
    
}
main section:nth-child(4){
    text-align: center;
    margin-right: 110px;
    padding-bottom: 30px;
  
}
main section:nth-child(5){
    float: left;
    margin-left: 195px;
    width: 480px;
    
}


main section:nth-child(6){
    margin: 20px;
    width: 400;
    padding-left: 20px;
    

}
 p {
    height: 320px;
    overflow: scroll;
    line-height: 25px;
    margin: 10px;
    
}
 button {
    border: none;
    font-size: 20px;
    color: rgb(19, 2, 255);
    padding: 30px 10px;
    
 }

 button:hover {
    background: black;
}

footer{
    clear : both;
    height: 150px;
    background: rgb(43, 43, 43);
    margin-bottom: 50px;
}
/* main div h2 p:nth-child(7){
    margin: 20px;
    width: 400;
    padding-left: 20px;
} */
